* {
    box-sizing: border-box;
}

.container {
    overflow: hidden;
}

section {
    background: #ff8cca;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.333%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.div-b {
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    float: left;
    /*clear: left;*/
    display: block;
}

.red, .orange, .yellow, .green, .blue {
    height: 70px;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

@media (max-width: 1000px) {
    .w-25 {
        width: 50%;
    }
    .container {
        max-width: 850px;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .w-25, .w-33, .w-40, .w-50, .w-60, .w-100 {
        width: 100%;
    }
}



